﻿#Categories {
    width: 200px;
    background-color: #00599A;
    padding: 0;
    height: 600px;
}

.CategoryButton, .ActiveCategoryButton {
    width: 200px;
    font-size: 16px;
}

.ActiveCategoryButton {
    background-color: white;
    color: #00599A;
}

.ActiveCategoryButton:hover {
    background-color: white;
    color: #00599A;
}

#Details {
    padding: 0 20px 20px;
}

table {
    width: 100%;
    margin-left: -2px;
}

td {
    vertical-align: top;
}

.Form {
    max-width: 700px;
}
