#MainContainer {
    padding: 5px;
    display: none;
}

#DetailsTable tr td p {
    margin: 0px;
}

#MainContainer p {
    margin: 5px;
}

.ColOne {
    width: 120px;
}

#Wrapper {
    display: inline-flex;
    float: left;
    position: relative;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}

#Image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#ImageText {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    font: bold;
    display: none;
    font-size: large;
    font-weight: bold;
}

#Wrapper:hover #Image {
    opacity: 0.35;
}

#Wrapper:hover #ImageText {
    display: block;
}

#BasicDetails {
    overflow: hidden;
    min-width: 500px;
    margin-right: 5px;
    margin-left: 5px;
}

.Star {
    width: 24px;
    height: 24px;
    margin: 0 1px;
}

.SmallStar {
    width: 18px;
    height: 18px;
    margin: 0 1px;
}

#OverallRating {
    display: flex;
    align-items: center;
}

    #OverallRating span p {
        margin: 0;
    }

    #OverallRating h4 {
        margin: 0;
    }

#Reviews h2 {
    margin-left: 10px;
}

#BasicDetails h2, #BasicDetails h3, #BasicDetails h4 {
    margin: 5px 0;
}

#OtherDetails {
    margin-left: 5px;
}

.Criteria, .ViewStars, .NewCriteriaStars, .NewOverallStars {
    display: flex;
    align-items: center;
}

.OverallLabel, .OverallScore {
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
}

.CriteriaLabel, .CriteriaScore, .CriteriaLabelNew {
    color: #333333;
    margin-top: 0;
    margin-bottom: 0;
}

#Error {
    width: 500px;
    margin: auto;
    padding: 20px 0;
    display: none;
    align-items: center;
    flex-wrap: wrap;
}

#ErrorMsg {
    color: red;
    margin: auto;
    padding-bottom: 20px;
}

#ErrorBtn {
    margin: auto;
}

#IncorrectUser p {
    color: red;
}

#Loading {
    margin: auto;
    padding: 20px 0;
    flex-wrap: nowrap;
    text-align: center;
    display: table;
}

    #Loading h2 {
        margin: auto;
        display: table-cell;
        font-size: 32px;
        vertical-align: middle;
        width: auto;
    }

    #Loading img {
        display: table-cell;
        margin: auto;
        width: 62px;
        vertical-align: middle;
    }

#NewReview p {
    margin-left: 0;
}

.ToolBtn {
    margin-bottom: 2px;
    width: 200px;
    display: flex;
    align-items: center;
}

    .ToolBtn img {
        width: 38px;
        height: 38px;
        margin-right: 7px;
    }

.DisabledToolBtn {
    background-color: lightgray;
}

    .DisabledToolBtn:hover {
        background-color: lightgray;
    }

#ReviewAndTools {
    width: 100%;
    display: flex;
}

#NewReview {
    margin-left: 10px;
    width: Calc(100% - 240px);
    vertical-align: top;
    margin-right: auto;
    border-right: inset;
    border-color: darkgray;
    border-width: 1px;
}

#Tools {
    margin-right: 10px;
    width: 200px;
    vertical-align: top;
}

/* --- Modal --- */
.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.ModalHeader {
    padding: 2px 16px;
    background-color: #F0F0F0;
}

.ModalHeader h2 {
    text-align:center;
}

.ModalBody {
    padding: 2px 0;
    width: 100%;
}

.ModalContent {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid;
    border-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 800px;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px; 
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #002A3A;
    text-decoration: none;
    cursor: pointer;
}