﻿#MainTable {
    width: 100%;
}

.Form {
    min-width: 420px;
    width: 40%;
    vertical-align: top;
}

td {
    height: 100%;
}

#Search {
    background-color: #F0F0F0;
    border-style: solid;
    border-width: 2px;
    border-color: #F0F0F0;
}

    #Search form {
        margin: 5px;
    }

#AdvancedSearch {
    margin: 5px;
}

.SearchCriteria {
    width: auto;
    background: #F0F0F0;
    display: inline-block;
    margin: 5px 0 0 10px;
    padding: 0 5px;
    border-radius: 5px;
}

/* Search Elements */
#txtPrice {
    width: 62px;
}

#txtAddress {
    width: 154px;
}

#btnSearch, #btnAdvSearch {
    height: 22px;
    width: 80px;
}

#btnAdvSearch {
    margin-left: 550px;
}

#btnClear, #btnAdvClear {
    height: 22px;
    width: 100px;
}

#btnAdvanced {
    height: 22px;
    width: 150px;
}

#txtBeds, #txtBaths {
    width: 40px;
}

#cbResetParam {
    display: none;
}

#AdvancedSearch div table {
    width: 505px;
    text-align: right;
}

.AdvCol1 {
    width: 222px;
}

/* End */

#mapCell {
    vertical-align: top;
    padding-bottom: 0;
}

#map {
    min-width: 0;
    min-height: 400px;
    margin: 5px 5px 0 0;
}

    #map content {
        width: 100%;
        height: 100%;
    }

.Star {
    width: 24px;
    height: 24px;
    margin: 0 1px;
}

.DigsRating p {
    margin: 4px 0;
}

.Scrollable {
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.Thumbnail {
    width: 40%;
    height: auto;
    max-width: 240px;
    max-height: 140px;
    display: flex;
}

    .Thumbnail img {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        padding-top: 5px;
        box-sizing: border-box;
    }

@media screen and (max-width: 1600px) {
    body {
        max-width: Calc(0.85 * 1600px);
        width: 100%;
    }
}

@media only screen and (max-device-width: 480px) {
    body {
        width: 100%;
        margin: 0;
    }
}
