﻿/* ---Page--- */
html {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
    min-width: 800px;
    width: 85%;
    max-width: 1440px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ---Header--- */
header table {
    width: 100%;
}

#Logo {
    width: 128px;
}

    #Logo img {
        height: 128px;
        margin: 0 32px;
    }

#Title {
    vertical-align: bottom;
    font-size: 25px;
}

#UsernameHeader {
    width: 200px;
    padding: 0 50px 32px 0;
    vertical-align: bottom;
}

    #Username, #UsernameHeader section {
        font-size: 14px;
        text-align: right;
        margin: 0;
    }

/* ---Nav Bar--- */
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00599A;
}


header li {
    float: left;
}

    header li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        width: 75px;
    }

        header li a:hover {
            background-color: #002A3A;
        }

/* ---Buttons--- */
button, input[type=button], input[type=submit], .button {
    background-color: #00599A;
    color: white;
    border: none;
    width: 150px;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

    button:hover, input[type=button]:hover, input[type=submit]:hover, .button:hover {
        background-color: #002A3A;
    }

/* Font Sizes */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

/* ---Other--- */
.Form {
    min-width: 500px;
}

.Hidden {
    display: none;
}

/* ---Responsive Design--- */
@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        max-width: Calc(0.85 * 1200px);
    }
}

@media only screen and (max-device-width: 480px) {
    body {
        width: 100%;
        margin: 0;
    }
}

footer {
    width: 100%;
    text-align: center;
}
footer p {
    margin: 5px 0;
}

footer hr {
    margin: 0;
}
