﻿#map {
    min-width: 400px;
    height: 500px;
    margin-top: 60px;
}

    #map content {
        width: 100%;
        height: 100%;
    }

.Form {
    margin-right: 25px;
    min-width: 0;
    max-width: 400px;
    float: left;
}
